# Flutter build output
build/** linguist-generated

# Android native & build files (cause C++ detection)
android/** linguist-vendored

# iOS files
ios/** linguist-vendored

# Web (optional – keep if you don't want JS/HTML counted)
web/** linguist-vendored

# Force Dart as the main language
*.dart linguist-language=Dart
